<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.collections.mapper.CollectionMapper">
    <insert id="addCollection">
        insert into collection values(null, #{userId}, #{title}, #{websiteAddress}, #{description}, #{image}, #{isOwned}, #{parentCollectionId}, false)
    </insert>
    <select id="getCollectionById" resultType="com.collections.pojo.Collection">
        select * from collection where collectionId = #{collectionId}
    </select>
    <select id="getMainCollectionsByUser" resultType="com.collections.pojo.Collection">
        select * from collection where userId = #{userId} and parentCollectionId is null and isDeleted = false
    </select>
    <select id="getSubCollectionsByCollection" resultType="com.collections.pojo.Collection">
        select * from collection where parentCollectionId = #{parentCollectionId} and isDeleted = false
    </select>
    <select id="getCollectionsByTitle" resultType="com.collections.pojo.Collection">
        select * from collection where title Like CONCAT('%',#{title},'%') and isDeleted = false
    </select>
    <select id="getCollectionsByTitleAndUser" resultType="com.collections.pojo.Collection">
        select * from collection where title Like CONCAT('%',#{title},'%') and userId = #{userId} and isDeleted = false
    </select>
    <select id="getDeletedCollectionsByUser" resultType="com.collections.pojo.Collection">
        select * from collection where userId = #{userId} and isDeleted = true
    </select>
    <update id="updateCollectionContext">
        update collection set title = #{title}, websiteAddress = #{websiteAddress}, description = #{description}
        where collectionId = #{collectionId}
    </update>
    <update id="updateCollectionImage">
        update collection set image = #{image}
        where collectionId = #{collectionId}
    </update>
    <update id="updateCollectionIsOwned">
        update collection set isOwned = #{isOwned}
        where collectionId = #{collectionId}
    </update>
    <update id="deleteCollectionById">
        update collection set isDeleted = true
        where collectionId = #{collectionId}
    </update>
    <update id="recoverCollection">
        update collection set isDeleted = false
        where collectionId = #{collectionId}
    </update>
</mapper>